AddDefaultCharset UTF-8


RewriteEngine on

RewriteCond %{REQUEST_URI} ^/(api|rest|console)
RewriteRule ^(api|rest|console)(/?.*)$ index.php/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(/?.*)\.(.*)$ /ReactJS/dist/$1.$2 [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(/?.*)$ ReactJS/dist/index.html [QSA,L]

